numpy
pandas
scikit-learn

pefile
PyPDF2
python-magic
python-magic-bin

Flask
Werkzeug
Jinja2
MarkupSafe
click
itsdangerous

email-validator
imapclient

python-dotenv
Pillow
requests
colorama

cryptography

chardet
regex

python-json-logger

psutil
pathlib2; python_version < '3.4'